.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    width: 100%;
    color:#ffff;
    background-color: rgb(114, 32, 32);
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    padding: 15px;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    margin-top: 8rem;
    /* border: 2px solid red; */
    max-width: 40%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .container h2 {
    margin-bottom: 10px; 
  }
h3{
    font-weight: 500;
    font-size: 18px;
}
  
.about {
    display: flex;
    flex-direction: column;

}
  
  img {
    max-width: 50%;
    height: auto;
    margin-left: 55rem; 
    margin-top: -30rem; 
    margin-right: 0; 
    align-self: center; 
  }

  .btn {
    border: none;
    background-color: rgb(114, 32, 32);
    color: white;
    font-size: 12px;
    width: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
 
  .btn:hover {
    background-color: rgb(70, 16, 16);
  }


  
  