.back{
  background-color: #f8f7e8;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -5rem;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Comfortaa';
  /* font-family: 'Red Hat Display', sans-serif; */
  align-items: center;
  font-size: 22px;
  width: 100%;
  color:#ffff;
  background-color: rgb(114, 32, 32);
  margin-top: -0.5rem;
  margin-left: -1rem;
  padding: 18px;
  letter-spacing: 2px;
}

.btn {
  border: none;
  position: absolute;
  background-color: rgb(114, 32, 32);
  color: white;
  font-size: 20px;
  width: 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15rem;
  margin-bottom: 2rem;
  margin-left: 15rem;
  transition: background-color 0.3s ease-in-out;
}
 
.btn:hover {
  background-color: rgb(70, 16, 16);
}

@keyframes carouselScroll {
  0%, 100% {
    transform: translateY(0);
  }
  16.666%, 83.333% {
    transform: translateY(-100%);
  }
  33.333%, 66.666% {
    transform: translateY(-200%);
  }
}

ol, li {
list-style: none;
margin: 0;
padding: 0;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 5%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 50px;
}

.carousel__viewport {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-right: -50rem;
  margin-top: -6rem;
  bottom: 0;
  margin-left: 20rem;
  height: 90vh;
  counter-reset: item;
  scroll-behavior: smooth;
  position: relative; 
  overflow: hidden; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel__snapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: carouselScroll 500s linear infinite;
}

.carousel__slide {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
}

.carousel__slide img {
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
  margin: 0;
  line-height: 0; 
  margin-top: 2rem;
}
