@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.back{
  background-color: #e3e3e3d4;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -5rem;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  align-items: center;
  font-size: 15px;
  width: 100%;
  color:#ffff;
  background-color: rgb(114, 32, 32);
  margin-top: -0.5rem;
  margin-left: -1rem;
  padding: 7px;
  letter-spacing: 2px;
}

.btn {
  border: none;
  position: absolute;
  background-color: rgb(114, 32, 32);
  color: white;
  font-size: 24px;
  width: 25%;
  font-family: 'Comfortaa';

  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15rem;
  margin-bottom: 2rem;
  margin-left: 15rem;
  letter-spacing: 2px;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgb(70, 16, 16);
}

.inicio-btn{
  border: none;
  position: absolute;
  background-color: rgba(181, 118, 118, 0.7);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 24px;
  width: 25%;
  font-family: 'Lato', sans-serif;

  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20%;
  margin-bottom: 2rem;
  margin-left: 40%;
  letter-spacing: 2px;
  transition: background-color 0.3s ease-in-out;
  z-index: 2; 
}

.inicio-btn:hover {
  background-color: rgba(170, 68, 68, 0.7);
  backdrop-filter: blur(10px);
}

.carousels-cont{
  display: flex;
  flex-direction: row;
  width: 100%;
}

@keyframes carouselScroll {
  0%, 100% {
    transform: translateY(0);
  }
  20%, 80% {
    transform: translateY(-100%);
  }
  40%, 60% {
    transform: translateY(-200%);
  }
}

ol, li {
list-style: none;
margin: 0;
padding: 0;
}

.carousel {
  /* border: 7px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 5%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 50px;
}

.carousel__viewport {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  bottom: 0;
  margin-left: 51%;
  margin-top: -1%;
  height: 100vh;
  counter-reset: item;
  scroll-behavior: smooth;
  position: relative; 
  overflow: hidden; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.viewport{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  bottom: 0;
  margin-left: 1%;
  margin-top: -48%;
  height: 100vh;
  counter-reset: item;
  scroll-behavior: smooth;
  position: relative; 
  overflow: hidden; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%; 
  display: flex;
  flex-direction: column;
  animation: carouselScroll 250s linear infinite; 
}

.snapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%; 
  display: flex;
  flex-direction: column;
  animation: carouselScroll 250s linear infinite; 
}

.carousel__slide {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
}

.carousel__slide img {
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
  margin: 0;
  line-height: 0; 
  margin-top: 2rem;
}

.slide{
  flex: 0 0 100%;
  width: 100%;
  position: relative;  
}

.slide img{
  max-width: 100%; 
  max-height: 100%; 
  display: block; 
  margin: 0;
  line-height: 0; 
  margin-top: 2rem;
}

.all-cont {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 5%;
}

.category-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.cat-cont {
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 0.5%;
  margin-top: 2%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  width: 32%;
  height: 50vh;
  overflow: hidden;

}

.cat-cont img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0;
  line-height: 0;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
  transform: scale(1.3);
}
.cat-cont:hover img {
  filter: blur(5px) brightness(0.5);; 
  transform: scale(1.4);
}



.cat-cont button{
  border: none;
  padding: 20px;
  font-size: 10px;
  background-color: transparent;
  font-weight: bold;
  color: #ffff;
  font-family: 'Lato', sans-serif;
  border: 2px solid red;
}

.cat-cont:hover::before {
  content: attr(data-category); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:transparent;
  color: rgb(245, 240, 240);
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  z-index: 1; 
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}